body {
margin: 0;
height: 100vh;
display: inline;
align-items: center;
justify-content: center;
background-color: black;
}

img {
    display:block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
    display: inline-table;
    --c: White;
    color: purple;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 22%;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: mediumorchid;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

    nav ul li:hover span {
        transform: translateY(0) scale(2);
    }

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

.search {
    height: 20px;
}

img[id="search"] {
    height: 20px;
}
input[id="search"] {
    height: 20px;
}

h2 {
    text-align: center;
    color: purple;
    font-family: sans-serif;
}

.add-ticket {
    width: 50%;
    box-shadow: 0 4px 8px 0 purple;
    border-color: purple;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

label {
    padding-left: 30px;
    padding-right: 3px;
    font-family: sans-serif;
    font-weight: bold;
    color: purple;
}

input, select {
    border: 2px solid;
    border-color: black;
    border-bottom-color: purple;
    background-color:black;
    color: white;
}

textarea {
    border: 2px solid;
    border-color: purple;
    background-color: black;
}