* {
    font-family: sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/*start headr*/
.top-line {
    display: grid;
    grid-template-columns: 200px 900px auto;
}

.sign-in {
    display: inline;
    position: relative;
    z-index: 1;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 1;
}

a[id="sign-in"] {
    color: white;
    background-color: black;
    padding: 10px 15px 10px 15px;
    margin-left: 30px;
    border: 2px solid;
    border-color: white;
    letter-spacing: 0.1em;
    font-size: 12px;
    border-radius: 0.5em;
    cursor: pointer;
}

a[id="sign-in"]:hover {
    background-color: mediumorchid;
}

.scroll-left {
    display: inline;
    background-color: black;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 2;
}

a[id="scroll-left"] {
    position: absolute;
    color: white;
    margin-right: 0;
    /* Apply animation to this element */
    animation: scroll-left 5s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
    from {
        transform: translateX(900px);
    }

    to {
        transform: translateX(-300px);
    }
}

.black {
    display: inline;
    background-color: black;
    grid-column-start: 3;
    grid-column-end: 3;
    z-index: 1;
}

img[alt="logo"] {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.nav tr td {
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
}

.nav tr td[id="firstTab"] {
    width: 15%;
    padding-left: 0%;
    padding-right: 1%;
}

.tab {
    --c: White;
    color: purple;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 100%;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    cursor: pointer;
}

.tab span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: mediumorchid;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.tab:hover {
    color: black;
}

.tab:hover span {
    transform: translateY(0) scale(2);
}

.tab span:nth-child(1) {
    --n: 1;
}

.tab span:nth-child(2) {
    --n: 2;
}

.tab span:nth-child(3) {
    --n: 3;
}

.tab span:nth-child(4) {
    --n: 4;
}
/*end header*/

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
}

.myBtnContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    width:90%;
    margin-right: auto;
    margin-left: auto;
}

/* Style the buttons */
.btn {
    color: mediumorchid;
    border: none;
    padding: 12px 16px;
    background-color: black;
    cursor: pointer;
    text-align: center;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: mediumorchid;
    color: black;
}

/* Add a dark background to the active button */
.btn.active {
    color: white;
}

/**/
.grid-up div{ 
    width: 300px;
    height: 100px;
}
.grid-up{
    display: grid;
    grid-template-areas: 
    'Logo1  titleName  LI R1'
    'BTNS BTNS BTNS  BTNS'
    'searchBar searchBar searchBar searchBar'
    'C1 C1 C2 C3';
}

.login{
    grid-area: LI;
}
.Registration{
    grid-area: R1;
 }

.name{
    grid-area: titleName;
 }

.logo{
    grid-area: Logo1;
 }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline-table;
        --c: White;
        color: purple;
        font-size: 16px;
        border: 0.3em solid var(--c);
        border-radius: 0.5em;
        width: 22%;
        height: 3em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 3em;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        margin: 1em;
    }

        nav ul li span {
            position: absolute;
            width:25%;
            height: 100%;
            background-color: mediumorchid;
            transform: translateY(150%);
            border-radius: 50%;
            left: calc((var(--n) - 1) * 25%);
            transition: 0.5s;
            transition-delay: calc((var(--n) - 1) * 0.1s);
            z-index: -1;
        }

        nav ul li:hover {
            color: black;
        }

            nav ul li:hover span {
                transform: translateY(0) scale(2);
            }

        nav ul li span:nth-child(1) {
            --n: 1;
        }

        nav ul li span:nth-child(2) {
            --n: 2;
        }

        nav ul li span:nth-child(3) {
            --n: 3;
        }

        nav ul li span:nth-child(4) {
            --n: 4;
        }

.card {
    display: inline-block;
    grid-area: C1 ;
    box-shadow: 0 4px 8px 0 purple  ;
    width: 300px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    font-family: arial;
    color:white
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
    .card button:hover {
        opacity: 0.7;
    }

.searchBar {
    text-align: center;
}
input[type="text"]{
    border-radius: 5px;
    width: 40%;
    height: 25px;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}