<!DOCTYPE html>

<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>registration page</title>
        <link rel="stylesheet" href="..\stylesheets\registration.css">
        <script src="..\javascripts\registration.js"></script>
    </head>

    <body>
        <!--start header-->
        <br /><br />
        <div class="sign-in" onclick="location.href='http://localhost:3000/sign_in'">
            <a id="sign-in">Sign In</a>
        </div>
        <img src="..\img\logo.jpeg" alt="logo">
        <br>
        <table class="nav">
            <tr>
                <td id="firstTab">
                    <div class="tab" onclick="location.href='http://localhost:3000/home_page'">
                        Home
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/tickets'">
                        Find Tickets
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/my_profile'">
                        My Profile
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/Contact_page'">
                        Contact Us
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
            </tr>
        </table>
        <br /><br />
        <!--end header-->

        <h2 style="text-align: center">Sign Up</h2><br>
        <form action="http://localhost:3000/new_user" method="POST" id="sign-up">

            <div class="signUp">
                <label for="usertName">User name:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <label for="confirmPassword">Confirm password:</label>
                <input type="password" id="confirmPassword" name="Confirm_password" required>
                <br />
                <input type="checkbox" onclick="showPassword()">
                <a id="showPassword">Show password</a><br><br>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="phoneNumber">Phone number (optional):</label>
                <input type="tel" id="phoneNumber" name="Phone number"><br><br>

                <label for="preferences">What events do you like?</label>
                <br />
                <div class="prefDiv">
                    <input type="checkbox" id="preferences" name="concerts"><a class="preferences" id="concerts">concerts</a>
                    <input type="checkbox" id="preferences" name="sports"><a class="preferences" id="sports">sports</a>
                    <br />
                    <input type="checkbox" id="preferences" name="standup"><a class="preferences" id="standup">stand up comedy</a>
                    <input type="checkbox" id="preferences" name="parties"><a class="preferences" id="parties">parties</a>
                    <br />
                    <input type="checkbox" id="preferences" name="festivals"><a class="preferences" id="festivals">festivals</a>
                    <input type="checkbox" id="preferences" name="theater"><a class="preferences" id="theater">theater</a>
                    <br />
                    <input type="checkbox" id="preferences" name="cinema"><a class="preferences" id="cinema">cinema</a>
                    <input type="checkbox" id="preferences" name="kids"><a class="preferences" id="kids">kid's shows</a>
                </div>

                <label for="confirmation">Approval of terms of user</label>
                <input type="checkbox" id="confirmation" name="Approval of terms of user" required><br><br>

                <button type="submit">Submit</button>
            </div>
        </form>
        <br /><br /><br />

        <!--start footer-->
        <table class="footer">
            <tr>
                <td>
                    <a onclick="location.href='http://localhost:3000/About'">About us</a>
                </td>
                <td>
                    <a onclick="location.href='http://localhost:3000/FAQ'">FAQ</a>
                </td>
                <td>
                    <a onclick="location.href='http://localhost:3000/policy'">Policy</a>
                </td>
                <td>
                    <a>Follow us:</a><br>
                    <img src="..\img\imstegram icon.png" alt="Instagram" onclick="window.open('https://instagram.com','_blank')">
                    <img src="..\img\facebook icon.png" alt="Facebook" onclick="window.open('https://facebook.com','_blank')">
                </td>
            </tr>
        </table>
        <!--end footer-->
    </body>
</html>
