<!--successful_registration-->
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>new_user</title>
        <link rel="stylesheet" href="..\stylesheets\error_new_user.css">
    </head>

    <body>
        <!--start header-->
        <br /><br />
        <div class="sign-in" onclick="location.href='sign in.html'">
            <a id="sign-in">Sign In</a>
        </div>
        <img src="..\img\logo.jpeg" alt="logo">
        <br>
        <table class="nav">
            <tr>
                <td id="firstTab">
                    <div class="tab" onclick="location.href='http://localhost:3000/home_page'">
                        Home
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/tickets'">
                        Find Tickets
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/my_profile'">
                        My Profile
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/Contact_page'">
                        Contact Us
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
            </tr>
        </table>
        <br /><br />
        <!--end header-->

         <div class="box">
            <p> Registration is completed!</p>
            <p>Welcome to our site</p>
            <br> <br>
            <button type="button" onclick="location.href='http://localhost:3000/my_profile'">GO TO YOUR PROFILE </button>
            <br> 
        </div>
        <br> <br> <br>

        <!--start footer-->
        <table class="footer">
            <tr>
                <td>
                    <a onclick="location.href='http://localhost:3000/About'">About us</a>
                </td>
                <td>
                    <a onclick="location.href='http://localhost:3000/FAQ'">FAQ</a>
                </td>
                <td>
                    <a onclick="location.href='http://localhost:3000/policy'">Policy</a>
                </td>
                <td>
                    <a>Follow us:</a><br>
                    <img src="..\img\imstegram icon.png" alt="Instagram" onclick="window.open('https://instagram.com','_blank')">
                    <img src="..\img\facebook icon.png" alt="Facebook" onclick="window.open('https://facebook.com','_blank')">
                </td>
            </tr>
        </table>
         <!--end footer-->
    </body>
</html>