<!DOCTYPE html>

<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Add New Tickets</title>
        <link rel="stylesheet" href="..\stylesheets\ticket_page.css" />
    </head>

    <body>
        <!--start header-->
        <br /><br />
        <div class="sign-in" onclick="location.href='http://localhost:3000/sign_in'">
            <a id="sign-in">Sign In</a>
        </div>
        <img src="..\img\logo.jpeg" alt="logo">
        <br />
        <table class="nav">
            <tr>
                <td id="firstTab">
                    <div class="tab" onclick="location.href='http://localhost:3000/home_page'">
                        Home
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/tickets'">
                        Find Tickets
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/my_profile'">
                        My Profile
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
                <td>
                    <div class="tab" onclick="location.href='http://localhost:3000/Contact_page'">
                        Contact Us
                        <span></span><span></span><span></span><span></span>
                    </div>
                </td>
            </tr>
        </table>
        <br /><br />
        <!--end header-->

        <h2>Ticket Details</h2>
        <form action="/delete_ticket" method="POST" class="ticket-container">
            <span>
                <h5 id=ticketID>Ticket ID:</h5>
                <input name=ticketID value=1></a>
                <h5 id="eventName">Event name:</h5>
                <a>Omer Adam</a>
                <h5 id="category">Category:</h5>
                <a>Concert</a>
            </span>
            <br />
            <span>
                <h5 id="startDate">Start date:</h5>
                <a type="date">12/12/2021</a>
                <h5 id="openGatesTime">Open gates time:</h5>
                <a type="time">20:00</a>
                <h5 id="startTime">Start time:</h5>
                <a type="time">21:00</a>
            </span>
            <br />
            <span>
                <h5 id="endDate">End date:</h5>
                <a type="date">12/12/2021</a>
                <h5 id="endTime">End time:</h5>
                <a type="time">23:00</a>
            </span>
            <br />
            <span>
                <h5 id="place">Place:</h5>
                <a type="text"><a>Forum Club</a>
                <h5 id="address">Address:</h5>
                <a type="text">Be'er Sheva</a>
            </span>
            <br />
            <span>
                <h5 id="row">Row:</h5>
                <a></a>
                <h5 id="chair">Chair:</h5>
                <a></a>
                <h5 id="area">Area:</h5>
                <a><a></a>
            </span>
            <br />
            <span>
                <h5 id="purchasePrice">Purchase price (per ticket):</h5>
                <a type="text">50</a>
                <h5 id="salePrice">Sale price (per ticket):</h5>
                <a type="text">40</a>
                <h5 id="quantity">Quantity</h5>
                <a type="number">1</a>
            </span>
            <br />
            <span>
                <h5 id="phone">Phone number:</label>
                <a type="tel">0501234567</a>
            </span>
            <br />
            <span>
                <h5 id="discription">Discription:</h5>
                <a>I can't come to this show because I'm in insulation</a>
            </span>
            <br><br><br>
            <button type="submit">Buy Now</button>
            <button type="submit">Delete</button>
        </form>
        <br /><br /><br />

        <!--start footer-->
        <table class="footer">
            <tr>
                <td>
                    <a onclick="location.href='http://localhost:3000/About'">About us</a>
                </td>
                <td>
                    <a onclick="location.href='http://localhost:3000/FAQ'">FAQ</a>
                </td>
                <td>
                    <a onclick="location.href='http://localhost:3000/policy'">Policy</a>
                </td>
                <td>
                    <a>Follow us:</a><br>
                    <img src="..\img\imstegram icon.png" alt="Instagram" onclick="window.open('https://instagram.com','_blank')">
                    <img src="..\img\facebook icon.png" alt="Facebook" onclick="window.open('https://facebook.com','_blank')">
                </td>
            </tr>
        </table>
        <!--end footer-->
    </body>
</html>