doctype html
head
  meta(name='viewpoint' content='width=device-width, initial-scale=1.0')
  title Sign Out
body(style="background: black")
  p connecting...
  script.
    window.location.href="http://localhost:3000/";